.intro{
	color:#000;
}
.blackbg{
	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	z-index: 9998;
}
.intro-wrapper{
	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	z-index: 9999;
}
.slideUp{
	width: 100%;
	overflow: hidden;
}
.slideUp img{
	padding: 0px;
	margin: 0px 3px;
}
.slideDown{
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}
.slideDown img{
	padding: 0px;
	margin: 0px 3px;
}
.logo{
	position: absolute;
	left: 38%;
	top: 45%;
}
